{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Hospital Management System with Chatbot</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<script language="javascript">

function validate(formObj){
if(formObj.t6.value.length==0){
		alert("Please Enter patient id");
		formObj.t6.focus();
		return false;
	}
	if(formObj.t1.value.length==0){
		alert("Please Enter disease description");
		formObj.t1.focus();
		return false;
	}
	if(formObj.t2.value.length==0){
		alert("Please Enter age");
		formObj.t2.focus();
		return false;
	}
	if(formObj.t3.value.length==0){
		alert("Please Enter contact no");
		formObj.t3.focus();
		return false;
	}
	if(isNaN(formObj.t3.value)){
		alert("Contact no  must be numeric");
		formObj.t3.focus();
		return false;
	}
	if(formObj.t3.value.length != 10){
		alert("Contact number must be 10 digits long");
		formObj.t3.focus();
		return false;
	}
	if(formObj.t4.value.length==0){
		alert("Please enter fee amount");
		formObj.t4.focus();
		return false;
	}	
	return true;
}
</script>
	
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Hospital Management System with Chatbot</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
			<li class="first current_page_item"><a href="{% url 'AddDoctor' %}"><font size="" color="yellow">Add Doctors </font></a></li>
			<li><a href="{% url 'ViewHospitalDetails' %}"><font size="" color="yellow">View Doctors</font></a></li>
			<li><a href="{% url 'PatientSignup' %}"><font size="" color="yellow">Add In-Patients</font></a></li>
			<li><a href="{% url 'ViewPrescription' %}"><font size="" color="yellow">View Investigations</font></a></li>
			<li><a href="{% url 'ViewInsurance' %}"><font size="" color="yellow">Insurance Info</font></a></li>
			<li><a href="{% url 'index' %}"><font size="" color="yellow">Logout</font></a></li>
			
		</center></ul><br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'PatientSignupAction' %} onsubmit="return validate(this);">
<br/>{% csrf_token %}<br/>
   <h2><b>IN-Patient Signup Screen</b></h2>
   
				 <font size="" color="red"><center>{{ data|safe }}</center></font>
						<table align="center" width="40" >

						{{ data1|safe }}

			<tr><td><font size="" color="black">Patient&nbsp;ID</b></td><td><input type="text" name="t6" style="font-family: Comic Sans MS" size="15"/></td></tr>

			 <tr><td><font size="" color="black">Disease&nbsp;Description</b></td><td><input type="text" name="t1" style="font-family: Comic Sans MS" size="60"/></td></tr>
         
		  
		<tr><td><font size="" color="black">Age</b></td><td><input type="text" name="t2" style="font-family: Comic Sans MS" size="15"/></td></tr>

		<tr><td><font size="" color="black">Contact&nbsp;No</b></td><td><input type="text" name="t3" style="font-family: Comic Sans MS" size="20"/></td></tr>

		<tr><td><font size="" color="black">Fee&nbsp;Amount</b></td><td><input type="text" name="t4" style="font-family: Comic Sans MS" size="15"/></td></tr>


		
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
				</div>	
					
				</div>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/>
	</body>
</html>