{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Hospital Management System with Chatbot</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Hospital Management System with Chatbot</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
			<li class="first current_page_item"><a href="{% url 'ViewPatientPrescription' %}"><font size="" color="yellow">View Prescription</font></a></li>
			<li><a href="{% url 'ViewTimeTable' %}"><font size="" color="yellow">Doctor Timetable</font></a></li>
			<li><a href="{% url 'ViewMeetings' %}"><font size="" color="yellow">Meetings Time</font></a></li>
			<li><a href="{% url 'ViewAppointments' %}"><font size="" color="yellow">Online Appointments</font></a></li>
			<li><a href="{% url 'Chat' %}"><font size="" color="yellow">Chat</font></a></li>
			<li><a href="{% url 'index' %}"><font size="" color="yellow">Logout</font></a></li>
			
		</center></ul>	<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
	<h4><b>View Meeting Date Screen</b></h4>   
			
	
		<table border="1" align="center" width="100%" >
			 
         <tr>
		 <th><font size="" color="black">Doctor Name</th>
		 <th><font size="" color="black">Available Date</th>
		 <th><font size="" color="black">Available Timeslot</th>
		  
		</tr>
		 
		{{data|safe}}
</p>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
</html>