{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Hospital Management System with Chatbot</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Hospital Management System with Chatbot</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
			<li class="first current_page_item"><a href="{% url 'AddDoctor' %}"><font size="" color="yellow">Add Doctors </font></a></li>
			<li><a href="{% url 'ViewHospitalDetails' %}"><font size="" color="yellow">View Doctors</font></a></li>
			<li><a href="{% url 'PatientSignup' %}"><font size="" color="yellow">Add In-Patients</font></a></li>
			<li><a href="{% url 'ViewPrescription' %}"><font size="" color="yellow">View Prescription</font></a></li>
			<li><a href="{% url 'ViewInsurance' %}"><font size="" color="yellow">Insurance Info</font></a></li>
			<li><a href="{% url 'index' %}"><font size="" color="yellow">Logout</font></a></li>
			
		</center></ul>	<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
	<h4><b>View Doctor/Hospital Details Screen</b></h4>
   
			
	
		<table border="1" align="center" width="100%" >
			 
         <tr>
		 <th><font size="" color="black">Doctor Name</th>
		 <th><font size="" color="black">Password</th>
		 <th><font size="" color="black">Email ID</th>
		  <th><font size="" color="black">Contact No</th>
		    <th><font size="" color="black">Qualification</th>
		   <th><font size="" color="black">Experience Details</th>
		   <th><font size="" color="black">Hospital Details</th>
		   <th><font size="" color="black">Address</th>
		   <th><font size="" color="black">Speciality</th>
		</tr>
		 
		{{data|safe}}
</p>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
</html>